:root {
    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    /* Colors */
    --color-primary: #1073BA;
    --color-seconday: #00DA55;
    --color-asphalt: #3B3B3B;
    --color-asphalt-light: #E1E1E1;
    --color-white: #FFFFFF;
    --color-dark: #1F1E1E;
    /* Spacing */
    --spacing-md: 2.5rem;
    --spacing-lg: 5rem;
}

html {
    box-sizing: border-box;
    font-size: 66.5%; /*Transforma 1REM a 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Global styles */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--secondary-font);
    margin: var(--spacing-md) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Utilities */
.text-center {
    text-align: center;
}


/* Header styles */
.header {
    background-color: var(--color-dark);
    padding: calc( var(--spacing-lg) * 3 ) 0;
    color: var(--color-white);
}

@media ( min-width: 768px ) {
    .header-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
