:root {
    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    /* Colors */
    --color-primary: #1073BA;
    --color-seconday: #00DA55;
    --color-asphalt: #3B3B3B;
    --color-asphalt-light: #E1E1E1;
    --color-white: #FFFFFF;
    --color-dark: #1F1E1E;
}

html {
    box-sizing: border-box;
    font-size: 66.5%; /*Transforma 1REM a 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    font-size: 1.6rem;
    line-height: 1.5;
}